.header {
    margin: 13px;
    padding: 28px 13px;
    border-radius: 40px;
    background: var(--cor-header);
    box-shadow: 0px 6px 14px rgb(170, 119, 255, 0.5);
}

.cabecalho {    
    margin: 0 40px;
}
 
.header .logo {
    width: 60px;
    height: 60px;
    transition: 0.3s;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
    color: var(--cor-font);
    border: 2px solid var(--cor-font);
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-extra-grande);
}

.header a:hover .logo {
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
}

.header nav ul {
    display: flex;
}

.header nav li a {
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 50px;
    letter-spacing: 1px;
    user-select: none;
    color: var(--cor-branca);
    text-transform: capitalize;
}

.header nav ul li a:hover {
    color: var(--cor-branca);
    text-decoration-line: underline;
    background-color: var(--cor-primaria);
}

.header .menu {
    width: 60px;
    height: 60px;
    display: none;
    align-self: flex-end;
}

.header nav label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header .hamburguer {
    width: 30px;
    height: 2px;
    top: 40px;
    left: 5px;
    display: block;
    position: relative;
    transition: 0.5s ease-in-out;
    background-color: var(--cor-branca);
}

.header .hamburguer:before,
.header .hamburguer:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.2s ease-in-out;
    background-color: var(--cor-branca);
}

.header .hamburguer:before {
    top: -10px;
}

.header .hamburguer:after {
    bottom: -10px;
}

.header input {
    display: none;
}

.header input:checked~label .hamburguer {
    transform: rotate(45deg);
}

.header input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}


@media(max-width: 1280px) {
    .header {
        padding: var(--mobile-padding);
    }
}

@media(max-width: 900px) {
    .header .menu {
        display: block;
    }


    .header nav input:checked~ul {
        display: block;
    }

    .header nav {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul {
        display: none;
        padding: 13px;
        border-radius: 13px;
        background-color: var(--cor-font);
    }

    .header nav li a {
        display: block;
        padding: 13px;
        text-align: center;
        color: var(--cor-branca);
    }

    .container {
        margin: 0;
    }
}