html {
  font-size: 62.5%;
  color: var(--cor-branca);
  scroll-behavior: smooth;
}

body {
  background: var(--cor-fundo);
  font-size: var(--fonte-normal);
  font-family: var(--fonte-primaria);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.section {
  padding: 7rem 0 7rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
}

.section-title h2 {
  font-size: var(--fonte-gigante);
  font-weight: 700;

}

.botao {
  font-size: var(--fonte-grande);
  padding: 10px 20px;
  border-radius: 20px;
  transition: all .3s ease;
  background-color: var(--cor-primaria);
}

.botao:hover {
  background: var(--cor-header);
}